<div class="" 
style="margin: 0px; padding: 0px;  
width: 100%;
z-index: 999; position: absolute; left: 0;">

<div class="" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" style="top: 100px; z-index: 1032;" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <div *ngIf="AddMode; else ViewMode"><h5 class="modal-title">Add new product</h5></div>
            <ng-template #ViewMode>
                <h5 class="modal-title">Id Product {{productId}}</h5>
            </ng-template>
            
            <button type="button" class="close" (click)="onClose()" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div>
                <form [formGroup]="productForm">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="name">Name</label>
                            <input type="text" 
                            name="name" 
                            id="name"
                            class="form-control"
                            formControlName="name">
                        </div>

                        <div class="form-group col-md-6">
                            <label for="inputCategory">Category</label>
                            <select 
                            id="inputCategory"
                            class="form-select" 
                            aria-label="Default select example"
                            name="inputCategory"
                            required
                            formControlName="category">

                                <option *ngIf="AddMode; else preselect" selected>Choose a category</option>
                                <ng-template #preselect>
                                    <option [attr.value]="productDetail.categoryId" selected>{{productDetail.categoryName}}</option>
                                </ng-template>
                                
                                <option *ngFor="let category of categoryCollection; let i index" 
                                [attr.value]="category.id">{{category.value}}</option>
                              </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-12">
                            <label for="inputDescription">Description</label>
                            <input type="text" 
                            name="inputDescription" 
                            id="inputCoinputDescriptionmments"
                            class="form-control col-12 col-md-12"
                            formControlName="description">
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-6" *ngIf="!AddMode">
                            <label for="name">Status</label>
                            <input type="text" 
                            name="status" 
                            id="status"
                            class="form-control"
                            formControlName="status"
                            readonly>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="name">Stock</label>
                            <input type="text" 
                            name="stock" 
                            id="stock"
                            class="form-control"
                            formControlName="stock">
                        </div>

                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="onClose()">Discard</button>
            <button *ngIf="AddMode else Update" type="button" class="btn btn-primary" (click)="onSave()">Save</button>
            <ng-template #Update>
                <button type="button" class="btn btn-primary" (click)="onEdit()">Update</button>
            </ng-template>
        </div>
        </div>
    </div>
</div>
{{errorMessage.hasError}}
<div class="col-12 " style="bottom: 0px; position: fixed; z-index: 1300;
">
    <div class="alert alert-warning fade show"  *ngIf="errorMessage.hasError" role="alert" style="z-index: 1032;">
        <strong>Error</strong> {{errorMessage.message}}
    </div>
</div>
    

<div id="backdrop" style="height: 100vh;width: 100vw;position: absolute;top: -50px;background-color: rgba(0,0,0,0.7);z-index: 1031;"></div>
</div>
