<!-- Barra de navegacion -->
<div class="navbar fixed-top navbar-expand navbar-dark bg-dark" >
  <a class="burgerLink sidebar-toggle text-light mr-3" >
      <div class="text-center" ><i class="fa fa-bars"></i></div>
  </a>
  <h1 class="navbar-brand navbar-text" href="#">
    <img class="LogoHome" 
    src="../assets/logo.jpg" 
    alt="">Lista de productos
  </h1>
  <div class="navbar-collapse collapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#"
        id="navDropdownMenuLink" data-toggle="dropdown">
        <i class="fa fa-user"></i> dsdsds
      </a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navDropdownMenuLink">
        <a class="dropdown-item" >Cerrar Sesion</a>
      </div>
      </li>
    </ul>
  </div>
</div>
<!-- Barra de navegacion -->

<!-- Barra lateral -->
<div class="contenido d-flex float-left align-items-stretch">
    <div id="sidebar" class="sidebar bg-dark">
      <ul class="list-unstyled">
        <li>
          <a >
            dfdddd
          </a>
        </li>
      </ul>
    </div>
  </div>

<!-- App container -->
<div class="container overflow-hidden justify-content-center">
  <router-outlet></router-outlet>
</div>



