<div class="container">
    <router-outlet></router-outlet>
    <div class="spacer" style="width: 100%; height: 50px;"></div>
    <div class="col-12  text-end">
        <button type="button" class="btn btn-secondary" routerLink="agregar" >Agregar</button>
    </div>
    <!--Tabla de productos-->
    <div class="w-100 p-3" >
        <div class="">
            <table class="table table-bordered table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Status</th>
                        <th scope="col">Stock</th>
                        <th scope="col" >Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of products; index as i;">
                        <td scope="row">{{product.id}}</td>
                        <td>{{product.name}}</td>
                        <td>{{product.status}}</td>
                        <td>{{product.stock}}</td>
                        <td class="d-flex justify-content-around">
                            <span class="ml-2 mr-2">
                                <a class="" (click)="onDeleteProduct(product.id)" style="cursor: pointer;">
                                    <i class="fa fa-trash" style="color: rgba(233, 79, 55, 1); font-size: medium;"></i>
                                </a>
                            </span>
                            <span class="ml-2 mr-2">
                                <a class="" routerLink="ver/{{product.id}}"  style="cursor: pointer;">
                                    <i class="fa fa-edit" style="color: rgba(239, 138, 23, 1); font-size: medium;"></i>
                                </a>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
    <div class="jumbotron jumbotron-fluid" *ngIf="productsArrayIsEmpty()">
        <div class="container">
            <h1 class="display-4 text-center">No Data Available</h1>
        </div>
    </div>
    

</div>  
  
  
